body {
    font-family: Oswald, sans-serif;
    color: hsl(280, 00%, 100%);
}
main {
    background: hsl(280, 40%, 30%);
    transition: 1s;
}
.section-0 {
    align-items: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    h2 {
        grid-area: 1 / 2 / 2 / 10;
        font-size: 10vw;
        line-height: 1;
        font-weight: 900;
        letter-spacing: -0.015em;
        z-index: 1;
        text-transform: uppercase;
        mix-blend-mode: multiply;
        color: #fff;
    }
    &__img-wrapper {
        grid-area: 1 / 5 / 2 / 13;
        width: 100%;
        height: 90%;
        max-height: 90vh;
        object-fit: cover;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            max-height: 90vh;
            object-fit: cover;
            filter: grayscale(1);
            opacity: 0.5;
        }
    }
    &:nth-child(3),
    &:nth-child(7) {
        h2 {
            grid-area: 1 / 4 / 2 / 12;
            text-align: right;
        }
        .section-0__img-wrapper {
            grid-area: 1 / 1 / 2 / 8;
        }
    }
}

.section-1 {
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    display: flex;
    padding: 5vw 0;
    &__text {
        width: 100%;
        font-size: 7vw;
        font-weight: 700;
        display: flex;
        //font-style: italic;
        -webkit-text-stroke: 1px #fff1;
        color: transparent;
        margin-left: -10%;
        span {
            display: block;
            &:after {
                content: "➜";
                margin: 0 1vw;
                -webkit-text-stroke: 1px hsl(0, 40%, 15%);
            }
        }
    }
}
